.create-lender-form {
    float: right;
    width: 35%;
    text-align:left;
}

.create-btn-next {
    width: 50%;
}



@media screen and (max-width: 480px) {
    .create-lender-form {
        float:none;
        width: auto;
        margin: 10%;
    }
  }