.residence-details-wrapper {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: minmax(20px, auto);
    height: 100%;
    text-align: left;
    grid-row-gap: 12px;
}

.address-block {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.postal-address-block {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr 2fr); */
    grid-template-columns: 1.99fr 1.2fr 1fr 0.8fr 2fr;
    align-items: center;
    margin: 3% 2% 3% 0;
    grid-row-gap: 12px;

}

.residence-details-subheader {
    margin: 5%;
}

@media screen and (max-width: 480px) {

    .residence-details-span {
        /* margin: 5% auto; */
        /* text-align: left; */
        margin-left: 5%;
    }

    .residence-details-wrapper {
        text-align: left;
    }

    .address-block {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .postal-address-block {
        grid-template-columns: 1fr;
    }
}

/* .address-line-1 {
    /* grid-template-columns: 1fr 1fr; 
} */