.avatar-wrapper {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.avatar {
    display: inline-block;
    background-color: #EDEDED;
    margin: auto 7%;
    /* width: 220px; */
    width: 23%;
    height: 200px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 12px;
    cursor: pointer;
}


/* .avatar_i {
    background-image: url("../../../Asserts/Individual_Avatar.png");
} */

/* .avatar_g {
    background-image: url("../../../Asserts/Group_Avatar.png");
} */

.avatar_i_active {
    background-color: #116FDC;
    background-image: url("../../../Asserts/‌Individual_Avatar_Active.png");
}

.avatar_g_active {
    background-color: #116FDC;
    background-image: url("../../../Asserts/Group_Avatar_Active.png");
}

.avatar-type {
    color: #777777;
    font-size: 24px;
    margin-top: 3%;
}

.avatar-type_active {
    color: #FFFFFF;
    margin-top: 3%;
}

@media screen and (max-width: 480px) {
.avatar {
    width: auto;
    display: block;
}

.avatar-wrapper {
    display: block;
    height: auto;
    margin: auto;
}
}