.lender-type-section {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;

}

.avatar-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    grid-column-gap: 15%;
    margin: 0% 15%;
    height: 100%;
}

.avatar {
    background: #EDEDED;
    background-size: contain;
    height: 70%;
    border-radius: 12px;
    cursor: pointer;
    width: auto;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-rows: 25% auto;
}

.subheader-text {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-Active {
    background-color: #116FDC;
}

.avatar-label_active {
    color: #FFFFFF;
    /* margin-top: 3%; */
}

/* .lender-type-text {
    grid-row: 1/2;
}

.avatar_i {
    grid-row: 2/3;
} */


@media screen and (max-width: 480px) {

    .lender-type-section {
        grid-row-gap: 20px;
    }

    .subheader-text {
        margin-top: 5%;
    }
    
    .avatar-wrapper {
        width: 40%;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin: auto;
        grid-row-gap: 30px;
    }

    .avatar {
        width: 100%;
        height: auto;
        /* height: 50%; */
        /* margin-bottom: 15%; */
        display: grid;
        /* display: block; */
    }

    .lender-type-text {
        font-size: 0.85em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .avatar_i {
        /* width: 30%; */
        height: 70px;
    }

    .avatar_g {
        /* width: 30%; */
        height: 65px;
    }
}
