.contact-details-wrapper {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: minmax(20px, auto);
    height: 100%;
    text-align: left;
    grid-row-gap: 15px;
}

.contact-block {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

/* .postal-contact-block {
    display: grid;
    grid-template-columns: 1.99fr 1.2fr 1fr 0.8fr 2fr;
    align-items: center;
    margin: 3% 2% 3% 0;
} */

.contact-details-subheader {
    margin: 5%;
}

@media screen and (max-width: 480px) {
    .contact-block {
        grid-template-columns: 1fr;
    }

    /* .postal-contact-block {
        grid-template-columns: 1fr;
    } */
}

/* .contact-line-1 {
    /* grid-template-columns: 1fr 1fr; 
} */

.contact-number {
    display: grid;
    grid-template-columns: 0.281fr repeat(3, 0.15fr 0.05fr)
}

.emergency-contact {
    display: grid;
    grid-template-columns: 1.53fr 2fr 2fr;
    margin-right: 2%;
}

.alternate-contact {
    display:grid;
    /* margin: auto; */
    grid-template-columns: 0.35fr repeat(3, 0.2fr 0.1fr);

}

@media screen and (max-width: 480px) {

    .input-label-span {
        margin: 5% auto;
    }

    .contact-details-wrapper {
        text-align: center;
    }

    .contact-block {
        grid-template-columns: 1fr;
    }

    .contact-number {
        /* grid-template-rows: 1fr; */
        grid-template-columns: 1fr;
        /* span {
            
        } */
    }

    .contact-number span {
        grid-template-columns: auto;
    }

    /* .postal-address-block {
        grid-template-columns: 1fr;
    } */
}