.forgotPasswordForm {
    float: right;
    width: 35%;
    text-align:left;
    margin: auto 2%;
}

.btn-forgot-password {
    font-size: 0.8em;
}

.verification-code-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-column-gap: 10px; */
    width: 75%;
    margin: auto;
}

.input-code {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 60%;
    margin: auto;
    text-align: center;
}

.input-code:focus{
    border-top: none;
    border-left: none;
    border-right: none;
    /* border: none; */
    outline: none;
}


@media screen and (max-width: 480px) {
    .forgotPasswordForm {
        float:none;
        width: auto;
        margin: 5%;
    }

    .title-discription {
        margin-bottom: 8%;
    }
}