h1 {
    font-size: 39px;
}

p {
    font-size: 22px;
}

.loginForm {
    float: right;
    width: 35%;
    text-align:left;
}
.bridging-image-container {
    width: 60%;
    height: 100vh;
    display: inline-block;
}

.bridgingImg {
    width: 100%;
    height: 100%;
    /* opacity: 1; */
}

.login-remainder-span {
    display: inline;
    font-size: 13px;
    vertical-align: text-top;
    margin: 0px 4px;
}

.forgot-password {
    float: right;
    color: #116FDC;
    font-size: 13px;
    margin-right:8%;
    cursor: pointer;
}

.login-btn-grid {
    margin: 50px 0px;
    display:flex;
    justify-content:center;
}

.toggle-pwd-view {
    position: absolute;
    font-size: 13px;
    color: #116FDC;
    top:60%;
    right:12%;
    cursor: pointer;
}

.password-wrapper {
    position: relative;
}

@media screen and (max-width: 480px) {
    .bridging-image-container {
        width: 100%;
        height: auto;
    }
    .bridgingImg {
        height: auto;
    }
    .loginForm {
        float:none;
        width: auto;
        margin: 10%;
    }
  }