body {
  margin: 0;
  font-family: Avenir, book;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: clip; */
}

h1 h2 {
  color: #031331;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0px;
}

p {
  font-size: 1em;
}

span {
 font-size: 1em;
}

a {
  font-size: 0.85em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-select {
  border: 1px solid #116FDC57;
  background-color: #ffffff;
  height: 40px;
  text-indent: 10px;
    font-size: 0.8em;
}

.form-select:focus {
  outline: none;
  border: 1px solid #116FDC;
}

.comments-block:focus {
  outline: none;
  /* border: 1px solid #116FDC; */
}

.error-span {
  grid-column: 2/3;
  margin-top: 4%;
  color: rgb(255, 0, 0);
  font-size: 0.8em;
  text-align: center;
  display: none;
}

.error {
  display: block;
}

@media screen and (max-width: 480px) {
  span {
    font-size: 0.8em;
  }

  p {
    font-size: 0.8em;
  }
  /* .error {
    display: none;
  } */
}