body {
  margin: 0;
  font-family: Avenir, book;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: clip; */
}

h1 h2 {
  color: #031331;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0px;
}

p {
  font-size: 1em;
}

span {
 font-size: 1em;
}

a {
  font-size: 0.85em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
