h2 {
    font-size: 1.2em;
    font-family: "Avenir";
}

.profile-header {
    margin: 4%;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lender-profile {
    display: grid;
    grid-template-columns: 25% 70%;
    grid-auto-rows: minmax(65px, auto);
    grid-gap: 2rem;
}

.lender-profile-menu {
    display: grid;
    grid-template-rows: repeat(8, 45px);
    grid-row-gap: 15px;
    grid-row-gap: 15px;
    row-gap: 15px;
    grid-row: 2/3;
    margin: 0px;
    padding-left: 12%;
    width: 90%
}

.class-dot {
}

.menu-item {
    display: flex;
    background-color: #E5F1FF;
    border-radius: 14px;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    padding-left: 10%;
}

.section-details {
    /* grid-row: 2/3; */
    display: grid;
    grid-row: 2/3;
    height: 100%;
    position: relative;
    align-items: center;
    border: 1px solid #707070;
    /* grid-auto-rows: minmax(75px, auto) */
    grid-auto-rows: minmax(75px, auto) minmax(75px, 10%);
}

.form-select {
    border: 1px solid #116FDC57;
    background-color: #ffffff;
    height: 40px;
    /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  /* background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 60px center; */

}


.profile-link {
    display: contents;
    text-decoration: none;
}

.btn-wrapper {
    position: absolute
}

.next-btn-wrapper {
    position: inherit;
    width: 100%;
    right: 3%;
    bottom: 5%;
    flex-direction: row-reverse;
    display: flex;
    margin-top: auto;
}

.btn-hidden {
    visibility: hidden;
}

.arrow {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    padding: 4px;
    position: absolute;
    right: 3%;
    top: 37.5%;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.btn-span {
    display: inline;
    width: 100%;
}

.btn-next {
    width: 213px;
    background-color: #116FDC;
    text-align: center;
    font-size: 0.85em;
}

.btn-next::after {
    top: 50%;
    right: 3%;
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #ffffff;
    position: absolute;
}

@media screen and (max-width: 480px) {

    h2 {
        font-size: 0.85em;
        text-align: center;
        margin-left: 0px;
    }

    .lender-profile {
        grid-gap: 0px;
        margin: 0 3%;
        grid-template-columns: 1fr;
    }

    .profile-header {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .lender-profile-menu {
        grid-row: 1/2;
        grid-column: 1/8;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        padding: 0px;
        align-items: center;
        /* margin: auto; */
        width: 100%;
        /* height: 100px; */
        /* grid-column-gap: 2%; */
        display: grid;
        align-content: flex-start;
        margin: 20% auto;
    }

    .menu-item {
        padding-left: 0%;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: flex;
        margin: auto;
    }

    .profile-link {
        /* display: absolute; */
        display: block;
        width: 100%;
        text-align: center;
    }

    .menu-span-link {
        position: absolute;
        /* display: block; */
        margin: 0px;
        width: min-content;
        display: flex;
        text-align: initial;
        color: #116FDC;
        font-weight: 600;
    }
    
    .section-details {
        display: grid;
        grid-column: 1/3;
        grid-row: 3/4;

    }
    .next-btn-wrapper {
        bottom: 1.5%;
        margin-top: 0px;
    }
    .btn-next {
        margin: auto;
        width: 50%;
    }
    .btn-next::after {
        right: 30%;
        width: 6%;
    }
    .arrow {
        right: 30%;
    }

    .class-dot {
        display: none;
    }
}